<ul>
  <li *ngFor="let paragraph of paragraphs$ | async">
    {{paragraph.question}}
    <ul>
      <li *ngFor="let choice of paragraph.choices">{{choice.title}} Correct: <span [ngClass]="{'text-success': choice.correct, 'text-danger': !choice.correct}">{{choice.correct}}</span> Selected: <span [ngClass]="{'text-success': choice.selected, 'text-danger': !choice.selected}">{{choice.selected}}</span></li>
    </ul>
  </li>
</ul>
